header
    ul.opgg-header
        li
            a.active(href='/')
                img(src='/img/00-opgglogo.svg' style='width: 65px; height: 14px;')
        li
            a.active 리그오브레전드
        li
            a NEXT
        li
            a 배틀그라운드
        li
            a 오버워치
        li
            a 포트나이트
        li
            a 레인보우식스 시즈
        li
            a 톡피지지
        li(style='float: right')
            a 로그인
        li(style='float: right')
            a 한국어
    ul.menu
        li
            a(href='/') #집에 있자
        li
            a 챔피언 분석
        li
            a 우르프
        li
            a 통계
        li
            a 랭킹
        li
            a 프로관전
        li
            a 멀티서치
        li
            a OP셜
        li
            a 커뮤니티