doctype html
html
    head
        title op.gg-clone
        link(rel='stylesheet', href='/css/index.css')
    body
        include ./header
        main
            block content
        include ./footer