html
    head
        title title
        link(rel='stylesheet', href='/css/index.css')
    body
        form(action='/summoner/user' method='get')
            p
                input.search(type='text' name='nickname' placeholder='소환사명, 소환사명, ...')
            p
                input.btn(type='submit' value='검색')