body {
    background: #5383e8;
}

form {
    position: relative;
    width: 624px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
}

.search {
    display: block;
    width: 100%;
    padding: 15px 150px 18px 17px;
    background: none;
    border: none;
    line-height: 17px;
    font-size: 14px;
    color: #9b9b9b;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    background: #5383e8;
    color: white;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 30px;
    width: 40px;
    padding: 0;
    border: none;
}