body {
    background: #5383e8;
    margin: 0;
    padding: 0;
}

.summoner-search {
    position: relative;
    width: 624px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
}

.logo {
    padding: 32px 0 24px;
}

.logo img {
    display: block;
    max-height: 200px;
    margin: 0 auto;
}

.search {
    display: block;
    width: 100%;
    padding: 15px 150px 18px 17px;
    background: none;
    border: none;
    line-height: 17px;
    font-size: 14px;
    color: #9b9b9b;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    background: #5383e8;
    color: white;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 30px;
    width: 40px;
    padding: 0;
    border: none;
}

.opgg-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232f46;
}

.opgg-header li {
    float: left;
}

.opgg-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #5383e8;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5383e8;
    border-bottom: 1px solid #4171d6;
}

.menu li {
    float: left;
}

.menu li a {
    font-size: 15px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.summoner-info {
    width: 50%;
    margin: 0 auto;
}

.match-info {
    width: 50%;
    margin: 0 auto;
}

.item-list .item {
    display: inline-block;
}

.item-list .item img {
    border-radius: 10px;
}

.item-null {
    width: 64px;
    height: 64px;
    background-color: gray;
    opacity: 0.5;
    border-radius: 10px;
}